*

{
	box-sizing: border-box;
    margin: 0;
}

img

{
	object-fit: cover;
}

@font-face 

{
	font-family: raleway;
	src:
	url('RalewayPolice/Raleway-SemiBold.ttf'),
	url('RalewayPolice/Raleway-ThinItalic.ttf'), 
	url('RalewayPolice/Raleway-ExtraLightItalic.ttf'),
	url('RalewayPolice/Raleway-Italic.ttf'),
	url('RalewayPolice/Raleway-SemiBoldItalic.ttf'),
	url('RalewayPolice/Raleway-MediumItalic.ttf'),
	url('RalewayPolice/Raleway-ExtraBoldItalic.ttf'),
	url('RalewayPolice/Raleway-BoldItalic.ttf'),
	url('RalewayPolice/Raleway-BlackItalic.ttf'),
	url('RalewayPolice/Raleway-LightItalic.ttf'),
	url('RalewayPolice/Raleway-ExtraLight.ttf'),
	url('RalewayPolice/Raleway-Thin.ttf'),
	url('RalewayPolice/Raleway-ExtraBold.ttf'),
	url('RalewayPolice/Raleway-Regular.ttf'),
	url('RalewayPolice/Raleway-Bold.ttf'),
	url('RalewayPolice/Raleway-Medium.ttf'),
	url('RalewayPolice/Raleway-SemiBold.ttf'),
	url('RalewayPolice/Raleway-Black.ttf'),
	url('RalewayPolice/Raleway-Light.ttf');
}

#bloc_page

{
	margin: 3%;
}

header

{
	display: flex;
	flex-wrap: wrap;
}

body

{
	font-family: raleway, Arial, FontAwesome, sans-serif;
}

h1

{
	font-size: 1.50em;
	font-style: normal;
	font-weight: bold;
}

h2

{
	font-size: 1.30em;
	font-style: normal;
	font-weight: bold;
}

h3

{
	font-size: 1.20em;
	font-style: normal;
	font-weight: bold;
}

p

{
	font-size: 1em;
}

span

{
	font-weight: bold;
}

i

{
	font-style: normal;
}

header

{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
	margin-top: 2em;
	height: 10%;
}

#logo img

{
    width: 25%;
    height: auto;
}

nav ul

{
    list-style-type: none;
}

nav li

{
	padding-top: 1em;
    margin-left: 1em;
}

nav a

{
	padding: 2em;
	text-decoration: none;
	color: black;
}

nav a:hover 

{
	padding-top: 2.5em;
	border-top: 2px solid #0065FC;
	color: #0065FC;
}

nav ul

{
	display: flex;
}

.nav2

{
	display: none;
}

.inscrire1

{
	text-decoration: none;
	font-weight: bold;
	color: #0065FC;
}

.inscrire2

{
	display: none;
}

.rechercher p

{
	padding-top: 0.5em;
}

input

{
	outline: none;
	font-size: 1em;
	font-weight: bold;
	border-style: none;
	border: solid #F2F2F2;
	padding: 0.85em;
	margin: -0.5em;
}

input::placeholder

{
 	color: black;
}

button

{
	cursor:pointer;
}

.map

{
	padding: 1.10em 1.5em 1.25em 1.5em;
	border: none;
	background-color: #F2F2F2;
	border-radius: 15px 0px 0px 15px;
}

.map i

{
	font-size: 1.5em;
}

.recherche1

{
	padding: 1em;
	margin: 1em 1em 0 0;
	font-size: 1em;
	border: none;
	color: white;
	background-color: #0065FC;
	border-radius: 0px 15px 15px 0px;
}

.recherche2

{
	display: none;
}

.filtres

{
	display: flex;
	margin: 1em 2em 2em 0;
}

.filtres a

{
	text-decoration: none;
	color: black;
}

.filtres h3

{
	position: relative;
	z-index: 1;
	padding-right: 1em;
	margin: -0.15em 0 -0.15em -0.15em;
}

.filtres i

{
	display: inline-block;
	line-height: 50px;
	text-align: center;
	width: 50px;
	height: 50px;
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 50%;
	margin-right: 0.8em;
}


.filtres1

{
	margin: 1em 1em 0 0;
	padding: 1em 1em 0 0;
}

.filtres2

{
	display: flex;
	margin: 1em 1em 0 0;
	border: solid lightgrey;
	border-radius: 100px;
}

.jauge 

{	
	width: 100%;
	height: 100%;
	border-radius: 100px;
	position: relative;
}

.jauge-remplissage

{
	transition: all 0.3s linear 0s;
	background-color: #F2F2F2;
	width: 0;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 100px;
}
 
.jauge:hover .jauge-remplissage

{
	width: 100%;
}

.info

{
	display: flex;
	margin: 2em 2em 2em 0;
}

.info i

{
	display: inline-block;
	width: 1em;
	height: 1em;
	color: #0065FC;
	margin: -0.35em 1em 0 0;
	border: solid 2px;
	border-color: lightgrey;
	border-radius: 50%;
	font-size: 0.7em;
	padding: 0.4em 1.2em 1.6em 0.8em;
}

.hebergements_populaires

{
	display: flex;
	justify-content: space-between;
}

.hebergements_populaires a

{
	text-decoration: none;
}

.hebergements_populaires span

{
	color: black;
}

.name

{
	font-weight: bold;
	color: black;
	padding-bottom: 0.5em;
}

.prix

{
	color: grey;
}

#hebergements

{
	background-color: #F2F2F2;
	border-radius: 25px;
	padding: 2em;
	margin-right: 2em;
	width: 65%;
}

#hebergements figure

{
	width: 29%;
	max-width: 500px;
	margin: 1em;
	padding: 0.3em;
}

#hebergements h1

{
	padding: 0 0 1em 1em;
}

#hebergements h2

{
	padding: 1em 0 0 1em;
}

#hebergements a

{
	color: black;
}

#hebergements .nps

{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5em 2em 0.5em 1em;
}

.stars1

{
	padding-top: 1em;
	font-size: 0.75em;
	color: #0065FC;
}

.grey

{
	color: lightgrey;
}

.img_hebergements

{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.img_hebergements img

{
	width: 100%;
	height: 150px;
	border-radius: 25px 25px 0 0;
}

.auberge_la_cannebiere, .hotel_du_port, .hotel_les_mouettes, .hotel_de_la_mer, .auberge_le_panier, .hotel_chez_amina

{
	border: 5px grey;
	border-radius: 25px;
	box-shadow: 0.25em 0.25em 0.25em lightgrey;
	background-color: white;
}

#populaires

{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	border-radius: 25px;
	padding: 2em;
	width: 32%;
}

#populaires figure

{
	width: 100%;
	max-width: 500px;
	margin: 1em;
	padding: 0.3em;
	border: 5px grey;
	border-radius: 25px;
	box-shadow: 0.25em 0.25em 0.25em lightgrey;
	background-color: white;
}

#populaires img

{
	width: 40%;
	min-width: 40%;
	height: 165px;
	border-radius: 25px 0 0 25px;
}

#populaires .nps2

{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 2em 0.5em 1em;
}

#populaires h1

{
	padding: 0 0 1em 1em;
}

#populaires .titre i

{
	font-size: 1.50em;
	padding-right: 1em;
	color: black;
}

#populaires a

{
	display: flex;
}

.titre

{
	display: flex;
	justify-content: space-between;
	padding-bottom: 0.5em;
}

.stars2

{
	font-size: 0.75em;
	color: #0065FC;
}

.img_populaires

{
	display: flex;
	flex-wrap: wrap;
}

#activites h1

{
	padding: 2em 0 1em 0;
}

#activites a

{
	text-decoration: none;
	color: black;
}

#activites figure

{
	max-width: 500px;
}

#activites p

{
	padding: 1em;
	font-weight: bold;
}

.img_activites, .img_activites1, .img_activites2

{
	display: flex;
	justify-content: space-between;
	height: 400px;
}

.img_activites1, .img_activites2

{
	display: flex;
	flex-direction: column;
	width: 22%;
}

.vieux_port, .parc_national_des_calanques

{
	width: 22%;
	height: 400px;
	border: 5px grey;
	border-radius: 25px;
	box-shadow: 0.25em 0.25em 0.25em lightgrey;
}

.vieux_port img, .parc_national_des_calanques img

{
	width: 100%;
	height: 85%;
	border-radius: 25px 25px 0 0;
}

.img_activites1 .fort_de_pomegues img

{
	height: 75%;
}

.img_activites1 .îles_du_frioul img

{
	height: 60%;
}

.img_activites2 .notre_dame_de_la_garde img

{
	height: 65%;
}

.img_activites2 .parc_longchamp img

{
	height: 72%;
}


.fort_de_pomegues, .îles_du_frioul, .notre_dame_de_la_garde, .parc_longchamp

{
	border: 5px grey;
	border-radius: 25px;
	box-shadow: 0.25em 0.25em 0.25em lightgrey;
}

.fort_de_pomegues

{
	height: 55%;
}

.îles_du_frioul

{
	height: 35%;
}

.notre_dame_de_la_garde

{
	height: 40%;
}

.parc_longchamp

{
	height: 50%;
}

.fort_de_pomegues img, .îles_du_frioul img, .notre_dame_de_la_garde img, .parc_longchamp img

{
	width: 100%;
	height: 70%;
	border-radius: 25px 25px 0 0;
}

footer

{
	display: flex;
	background-color: #F2F2F2;
	justify-content: space-between;
	padding: 3%;
}

footer h2

{
	padding-bottom: 0.5em;
}

footer p

{
	padding-top: 0.5em;
}

footer a

{
	text-decoration: none;
	color: black;
}

.footer1

{
	width: 30%;
}

@media screen and (max-width: 1079px)

{
	#bloc_page
	{
		width: 100%;
		margin: auto;
	}

	#logo
	{
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 1em;
	}

	#logo img
	{
		width: 30%;
		max-width: 7.5em;
		margin-top: -1.1em;
	}

	.inscrire1
	{
		display: none;
	}

	.inscrire2
	{
		display: contents;
		text-decoration: none;
		font-weight: bold;
		color: #0065FC;
	}

	nav{
		width: 100%;
	}

	nav ul
	{
		display: none;
	}

	.nav2
	{
		display: contents;
		display: flex;
		flex-direction: row;
		text-decoration: none;
		width: 100%;
		padding-bottom: 1em;
		margin-top: 1em;
	}

	.nav2 a
	{
		text-decoration: none;
		color: black;
		width: 100%;
		border-bottom: 3px solid #F2F2F2;
		padding-bottom: 1em;
		margin-bottom: -0.5em;
	}

	.nav2H
	{
		padding-left: 10%;
		padding-right: 10%;
	}

	.nav2A
	{
		padding-left: 18%;
	}

	.nav2 a:hover
	{
		border-top: none;
		border-bottom: 3px solid #0065FC;
		color: #0065FC;
	}

	.rechercher
	{
		margin-left: 1em;
	}

	.rechercher p
	{
		margin-bottom: 1.5em;
	}

	.recherche1
	{
		display: none;
	}

	.recherche2
	{
		display: contents;
	}

	.recherche2 i
	{
		padding: 1em;
		margin: 1em 0 0 -2.25em;
		font-size: 1.25em;
		border: none;
		color: white;
		background-color: #0065FC;
		border-radius: 15px;
	}

	input
	{
		width: 80%;
	}

	.map
	{
		padding-top: 1.05em;
	}

	.filtres
	{
		flex-wrap: wrap;
		margin: 0.5em 0 0 1em;
	}

	.filtres1
	{
		width: 100%;
	}

	.filtres1 h2
	{
		font-size: 1.20em;
	}

	.filtres2 h3
	{
		font-size: 1em;
		margin: -0.15em;
	}

	.filtres i
	{
		font-size: 1.05em;
	}

	.info
	{
		margin-left: 1em;
	}

	.info i
	{
		margin-bottom: 1em;
	}

	.hebergements_populaires
	{
		flex-wrap: wrap-reverse;
		margin: 0 1em 0 1em;
	}

	#populaires
	{
		width: auto;
		border-radius: 0;
		margin: 0 -2em -1em -2em;
	}

	#populaires figure
	{
		width: 100%;
		height: 150px;
		margin-bottom: 1em;
		margin-left: auto;
		margin-right: auto;
	}

	.titre
	{
		margin: 1em -1em -1em -1em;
	}

	#populaires img
	{
		width: 40%;
		height: 140px;
	}

	#hebergements
	{
		width: auto;
		background-color: white;
		margin: 2em -2em -1em -2em;
	}

	#hebergements figure
	{
		width: 100%;

		margin-bottom: 1em;
		margin-left: auto;
		margin-right: auto;
	}

	#hebergements h1
	{
		padding-bottom: 1em;
		margin: 0 0 -0.5em -1em;
	}

	#activites
	{
		width: auto;
		margin: 0 1em 0 1em;
	}

	.img_activites
	{
		flex-direction: column;
		height: auto;
	}

	.img_activites figure
	{
		height: 200px;
		margin-bottom: 1em;
	}

	.img_activites1, .img_activites2
	{
		width: 100%;
		margin-bottom: 2em;
	}

	.vieux_port, .fort_de_pomegues, .îles_du_frioul, .parc_national_des_calanques, .notre_dame_de_la_garde, .parc_longchamp
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.img_activites img
	{
		width: 100%;
		height: 70%;
	}

	.img_activites1 .fort_de_pomegues img

	{
		height: 70%;
	}

	.img_activites1 .îles_du_frioul img

	{
		height: 70%;
	}

	.img_activites2 .notre_dame_de_la_garde img

	{
		height: 70%;
	}

	.img_activites2 .parc_longchamp img

	{
		height: 70%;
	}

	footer
	{
		flex-direction: column;
		white-space: nowrap;
	}

	.footer1
	{
		padding: 2em 0 2em 1em;
	}
}
