/* Modification su la page entière */
*

{
	box-sizing: border-box;
    margin: 0;
}

body

{
	font-family: raleway, Arial, FontAwesome, sans-serif;
}

figure

{
	border: 1px solid #F2F2F2;
	border-radius: 25px;
	box-shadow: 0.25em 0.25em 0.25em lightgrey;
	background-color: white;
	max-width: 500px;
}

figure:hover

{
	transform: scale(1.05);
	transition: 0.3s ease-in-out;
}

a

{
	text-decoration: none;
	color: black;
}

img

{
	object-fit: cover;
}

h1, h2, h3, strong {
	font-style: normal;
	font-weight: bold;
}

h1

{
	font-size: 1.50em;
}

h2

{
	font-size: 1.30em;
}

h3

{
	font-size: 1.20em;
}

p

{
	font-size: 1em;
}

i

{
	font-style: normal;
}

/* Fin */

#bloc_page /* Toute la page sauf le footer */

{
	margin: 3%;
}

header /* Logo + nav */

{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 2em;
	margin-top: 2em;
	height: 10%;
}

#logo img

{
    width: 25%;
    height: auto;
}

/* Nav + bouton inscrire pour version supérieur à 1080 px */

nav ul

{
	display: flex;
    list-style-type: none;
}

nav li

{
	padding-top: 1em;
    margin-left: 1em;
}

nav li a

{
	padding: 2em;
}

nav li a:hover 

{
	padding-top: 2.5em;
	border-top: 2px solid #0065FC;
	color: #0065FC;
}

.inscrire1, .inscrire2

{
	font-weight: bold;
	color: #0065FC;
}

.inscrire1

{
	padding: 1.1em;
	margin: 1em;
}

.inscrire1:hover

{
	box-sizing: border-box;
	width: 100%;
	border: solid #0065FC 2px;
	border-radius: 100px;
	padding: 1em;
	background-color: #DEEBFF;
}

/* Fin */

/* Bouton inscrire et nav pour version inférieur à 1080 px */

.inscrire2

{
	display: none;
}

.nav2

{
	display: none;
}

/* Fin */

/* Section rechercher */

.rechercher p

{
	padding: 0.5em 0 0.5em 0;
}

button

{
	cursor:pointer;
}

.map

{
	padding: 1.10em 1.5em 1.25em 1.5em;
	border: none;
	background-color: #F2F2F2;
	border-radius: 15px 0px 0px 15px;
}

.map i

{
	font-size: 1.5em;
}

.recherche1

{
	padding: 1em;
	margin: 1em 1em 0 0;
	font-size: 1em;
	font-weight: bold;
	border: none;
	color: white;
	background-color: #0065FC;
	border-radius: 0px 15px 15px 0px;
}

.recherche2

{
	display: none;
}

input

{
	outline: none;
	font-size: 1em;
	font-weight: bold;
	border-style: none;
	border: solid #F2F2F2;
	padding: 0.85em;
	margin: -0.5em;
}

/* Fin */

/* Filtres */

.filtres

{
	display: flex;
	flex-wrap: wrap;
	margin: 1em 2em 2em 0;
}

.filtres h3

{
	position: relative;
	z-index: 1;
	padding-right: 1em;
	margin: -0.15em 0 -0.15em -0.15em;
}

.filtres i

{
	display: inline-block;
	line-height: 50px;
	text-align: center;
	width: 50px;
	height: 50px;
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 50%;
	margin-right: 0.8em;
}


.filtres1

{
	margin: 1em 1em 0 0;
	padding: 1em 1em 0 0;
}

.filtres2

{
	display: flex;
	margin: 1em 1em 0 0;
	border: solid lightgrey;
	border-radius: 100px;
}

.jauge 

{	
	width: 100%;
	height: 100%;
	border-radius: 100px;
	position: relative;
}

/* Contrôle jauge filtres */

.jauge-remplissage

{
	transition: all 0.3s linear 0s;
	background-color: #F2F2F2;
	width: 0;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 100px;
}
 
.jauge:hover .jauge-remplissage

{
	width: 100%;
}

/* Fin */

/* Info */

.info

{
	display: flex;
	margin: 2em 2em 2em 0;
}

.info i

{
	display: inline-block;
	width: 1em;
	height: 1em;
	color: #0065FC;
	margin: -0.35em 1em 0 0;
	border: solid 2px;
	border-color: lightgrey;
	border-radius: 50%;
	font-size: 0.7em;
	padding: 0.4em 1.2em 1.6em 0.8em;
}

/* Fin */

/* Modifications identiques pour section hebergements et populaires */

.hebergements_populaires

{
	display: flex;
	justify-content: space-between;
}

.hebergements_populaires h1

{
	padding: 0 0 1em 1em;
}

.hebergements_populaires .img_hebergements, .img_populaires

{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hebergements_populaires figure 

{
	margin: 1em;
	padding: 0.3em;
}

.hebergements_populaires .nps, .nps2

{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hebergements_populaires .stars1, .stars2

{
	font-size: 0.75em;
	color: #0065FC;
}

#hebergements, #populaires

{
	background-color: #F2F2F2;
	border-radius: 25px;
	padding: 2em;
}

.name

{
	font-weight: bold;
	padding-bottom: 0.5em;
}

.grey /* étoiles grise */

{
	color: lightgrey;
}

/* Fin */

/* Modifications section hebergements */

#hebergements

{
	width: 65%;
}

#hebergements figure

{
	width: 29%;
}

#hebergements h2

{
	padding: 1em 0 0 1em;
}

#hebergements .nps

{
	padding: 0.5em 2em 0.5em 1em;
}

.stars1

{
	padding-top: 1em;
}

#hebergements img

{
	width: 100%;
	height: 150px;
	border-radius: 25px 25px 0 0;
}

/* Fin */

/* Modifications section populaires */

#populaires

{
	display: flex;
	flex-direction: column;
	width: 32%;
}

#populaires .titre

{
	display: flex;
	justify-content: space-between;
	padding-bottom: 0.5em;
}

#populaires .titre i

{
	font-size: 1.50em;
	padding-right: 1em;
	color: black;
}

#populaires figure

{
	width: 100%;
}

#populaires a

{
	display: flex;
}

#populaires img

{
	width: 40%;
	min-width: 40%;
	height: 165px;
	border-radius: 25px 0 0 25px;
}

#populaires .nps2

{
	padding: 1em 2em 0.5em 1em;
}

/* Fin */

/* Modifications section activites */

#activites h1

{
	padding: 2em 0 1em 0;
}

#activites img

{
	width: 100%;
	border-radius: 25px 25px 0 0;
}

#activites p

{
	padding: 1em;
	font-weight: bold;
}

.img_activites, .img_activites_2

{
	display: flex;
	justify-content: space-between;
	height: 400px;
}

.img_activites_2

{
	flex-direction: column;
}

.img_activites_2, .vieux_port, .parc_national_des_calanques

{
	width: 22%;
}

.fort_de_pomegues

{
	height: 55%;
}

.îles_du_frioul

{
	height: 35%;
}

.notre_dame_de_la_garde

{
	height: 40%;
}

.parc_longchamp

{
	height: 50%;
}


.vieux_port img, .parc_national_des_calanques img

{
	height: 86%;
}

.img_activites_2 .fort_de_pomegues img

{
	height: 75%;
}

.img_activites_2 .îles_du_frioul img

{
	height: 60%;
}

.img_activites_2 .notre_dame_de_la_garde img

{
	height: 65%;
}

.img_activites_2 .parc_longchamp img

{
	height: 72%;
}

/* Fin */

/* Footer */

footer

{
	display: flex;
	background-color: #F2F2F2;
	justify-content: space-between;
	padding: 3%;
}

.footer1

{
	width: 30%;
}

.footer1 a:hover 

{
	text-decoration: underline;
}

footer h2

{
	padding-bottom: 0.5em;
}

footer p

{
	padding-top: 0.5em;
}

/* Fin */

@media screen and (max-width: 1120px)

{
	#bloc_page
	{
		width: 100%;
		margin: auto;
	}

/* Logo + bouton s'inscrire */

	#logo
	{
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 1em 1em 2em 1em;
	}

	#logo img
	{
		width: 30%;
		max-width: 7.5em;
		margin-top: -1.1em;
	}

	.inscrire1
	{
		display: none;
	}

	.inscrire2
	{
		display: contents;
	}

/* Fin */

/* Nav ancres hebergements + activites */

	nav
	{
		width: 100%;
		display: flex;
		text-align: center;
	}

	nav ul
	{
		display: none;
	}

	.nav2
	{
		display: contents;
		padding-bottom: 1em;
	}

	.nav2 a
	{
		width: 100%;
		border-bottom: 3px solid #F2F2F2;
		padding-bottom: 1em;
		margin-bottom: -0.5em;
	}

	.nav2 a:hover
	{
		border-bottom: 3px solid #0065FC;
		color: #0065FC;
	}

/* Fin */

/* Section rechercher */

	.rechercher
	{
		margin-left: 1em;
	}

	.rechercher p
	{
		margin-bottom: 1.5em;
	}

	.recherche1
	{
		display: none;
	}

	.recherche2
	{
		display: contents;
	}

	.recherche2 i
	{
		padding: 1em;
		margin: 1em 0 0 -2.25em;
		font-size: 1.25em;
		border: none;
		color: white;
		background-color: #0065FC;
		border-radius: 15px;
	}

	input
	{
		width: 80%;
	}

	.map
	{
		padding-top: 1.05em;
	}

/* Fin */

/* Filtres */

	.filtres
	{
		margin: 0.5em 0 0 1em;
	}

	.filtres1
	{
		width: 100%;
	}

	.filtres1 h2
	{
		font-size: 1.20em;
	}

	.filtres2 h3
	{
		font-size: 1em;
		margin: -0.15em;
	}

	.filtres i
	{
		font-size: 1.05em;
	}

/* Fin */

/* Info */

	.info
	{
		margin-left: 1em;
	}

	.info i
	{
		margin-bottom: 1em;
	}

/* Fin */

/* Les sections hebergements et populaires */

	.hebergements_populaires
	{
		flex-wrap: wrap-reverse;
		margin: 0 1em 0 1em;
	}

	.hebergements_populaires #populaires, #hebergements
	{
		width: auto;
		margin: 0 -2em -1em -2em;
	}

	#populaires figure, #hebergements figure, #activites figure
	{
		width: 100%;
		margin-bottom: 1em;
		margin-left: auto;
		margin-right: auto;
	}

	#populaires
	{
		border-radius: 0;
	}

	.titre
	{
		margin: 1em -1em -1em -1em;
	}

	#populaires figure
	{
		height: 150px;
	}

	#populaires img
	{
		width: 40%;
		height: 140px;
	}

	#hebergements
	{
		background-color: white;
		margin-top: 2em;
	}

	#hebergements h1
	{
		padding-bottom: 1em;
		margin: 0 0 -0.5em -1em;
	}

/* Fin */

/* Section activites */

	#activites
	{
		width: auto;
		margin: 0 1em 0 1em;
	}

	#activites img
	{
		width: 100%;
		height: 70%;
	}

	.img_activites
	{
		flex-direction: column;
		height: auto;
	}

	.img_activites figure
	{
		height: 200px;
	}

	.img_activites_2
	{
		width: 100%;
		margin-bottom: 2em;
	}

/* Fin */

/* Footer */

	footer
	{
		flex-direction: column;
		white-space: nowrap;
	}

	.footer1
	{
		padding: 2em 0 2em 1em;
	}

/* Footer */

}
